<%- include('partials/userheader.ejs') %>


   <section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Check Out</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
           <% if (error) { %>
            <div>
              <h3 style="color: red;"> <%- error %>  </h3>
            </div>
           <% } %>
                <div class="row">

                    <div style=" width: 65%;">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".addresschk" style="width: 30%;">ADD ADDRESS</button><br><br>

                       <br> <h3 style="text-align: center;"> Choose address </h3><br><br>

                            <!-- collapse -->
                            
                            <div id="accordion">
                              <% if (cartdetails!==null || address !== null || address.length!==0) { %>
                               
                                <% for( let i = 0; i < address.length; i++ ) { %>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#address<%- address[i]._id %> " aria-expanded="true" aria-controls="collapseOne">
                                                    <%- address[i].name %>
                                                </button>
                                            </h5>
                                        </div>
                                        
                                        <div id="address<%- address[i]._id %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <% if (i==0) { %>                        
                                                    <input type="radio" id="html" name="address" value='<%- i %>' style="margin-left: 10%;" checked>
                                                    <label for="html">SELECT ADDRESS</label><br>
                                                <% } else { %>
                                                    <input type="radio" id="html" name="address" value='<%- i %>' style="margin-left: 10%;" >
                                                    <label for="html">SELECT ADDRESS</label><br>
                                                <% }  %>
                                               <ul>
                                                <li><%- address[i].address %></li>
                                                <li><%- address[i].phone %></li>
                                                <li><%- address[i].state %></li>
                                                <li><%- address[i].city %></li>
                                                <li><%- address[i].pin %></li>
                                               </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                              <% }else{ %>
                                <h5>you dont have any addresss</h5>
                                <% } %>
                                </div>
                                    
                                   <!-- ------------------------------------------------------ -->
                                   <!-- -------------------------------------------------------------- -->

                              <!-- collapse ends -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">Product <span>Total</span></div>
                            <% for(cart of cartdetails.items) {%>
                            <ul class="checkout__total__products">
                                <li><%- cart.product.title %> x <%- cart.quantity %> <span><%- cart.totalPrice %></span></li>
                            </ul>
                            <%}%>
                            <ul class="checkout__total__all">
                                <!-- <li>Subtotal <span>$750.99</span></li> -->
                                <li>Total Cart <span><%- cartdetails.cartTotal %></span></li> 
                            </ul>
                           
                            <div class="checkout__input__checkbox">
                                <label for="payment">
                                    <!-- Check Payment -->C O D
                                    <input type="radio" id="payment" name="paymentmod" value="COD" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="razerpay">
                                  Razerpay 
                                    <input type="radio" id="razerpay" name="paymentmod" value="Razerpay" >
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                              <label for="paypal">
                                  Paypal 
                                  <input type="radio" id="paypal" name="paymentmod" value="Paypal" >
                                  <span class="checkmark"></span>
                              </label>
                                
                          </div>
                                    <% if (address== null||address.length == 0) { %>
                                     
                                      <a><button type="submit" class="site-btn" onclick="placeorder()"  disabled style="visibility: hidden;"> PLACE ORDER </button></a>
                                    <% }else{ %>
                                      <a><button type="submit" class="site-btn" onclick="placeorder()"> PLACE ORDER </button></a>
                                    <% } %> 
                                    
                                        <!-- <a><button type="submit" class="site-btn" onclick="noaddress()" > PLACE ORDER </button></a> -->
                                   
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
</section>

 <!-- modal -->
 <div class="modal fade addresschk" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
      <form action="/addresscheckout" method="post" id="address">
        <div class="col-lg-8" style="margin-left: 15%;">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="name">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <input type="number" name="phone">
                </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">State</p>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="state">
                  </div>
                </div>
                <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">City</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="city">
                </div>
              </div>
              <hr>
              
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <textarea name="address" id="" cols="30" rows="5"></textarea>
                </div>
              </div>
  
              <hr>
              <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Pin</p>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="pin">
                  </div>
                </div>
                <hr>
  
                <button type="submit" class="btn btn-success">Add Address</button>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  <!-- modal ends -->
<!-- Modal -->
<!-- Modal -->
<% if (user_profile) { %>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">PROFILE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
      <div class="modal-body">
        <div class="card-body text-center">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
            class="rounded-circle img-fluid" style="width: 150px;">
          <h5 class="my-3"><%- user_profile.fullname %></h5>
          <p class="text-muted mb-1">E MAIL : <%- user_profile.email %></p>
          <p class="text-muted mb-4">MOBILE : <%- user_profile.mobilenumber %> </p>
          <div class="d-flex justify-content-center mb-2">
              <a href="/profile"><button type="button" class="btn btn-success">View Profile</button></a> 
              <a href="/order-success" class="mx-5"><button type="button" class="btn btn-success">your orders</button></a>
               
          </div>
      </div>
      <div class="modal-footer">
          <a href="/logout"><button type="button" class="btn btn-danger">Log Out</button></a>
      </div>
  </div>
</div>
</div>

<% }else{%>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">YOU ARE NOT LOGED IN NOW</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <h4 class="text-danger" style="text-align: center;"> Please Login</h4><br>
      <a href="/login" style="text-align: center;"><button type="button" class="btn btn-success">Log In</button></a>
  </div>
</div>
</div>

<%}%>  

  </div>
  


  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
  async function  placeorder(){
    
   const paymod = $("input[type='radio'][name='paymentmod']:checked").val();
   const address = $("input[type='radio'][name='address']:checked").val();
    
    console.log(address);
    console.log(paymod);
   const result = await axios({
    method:"post",
    url:'/payment',
    data:{
      paymod,
      address
    }
   })
  
      if(result.data.status){
      Swal.fire({
  title: 'oreder placed success fully',
  showDenyButton: true,
  confirmButtonText: 'See your order',
  denyButtonText: `continue shoping`,
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {   
    window.location.href = '/order-success'
  } else if (result.isDenied) {
    window.location.href = '/shopnow'
  }
})
// location.href = '/order-success'

}else if(result.data.razorpay){
  razorpayOrderData = result.data.orderdata
  userorderdata = result.data.userorderdata
console.log(result.data);
console.log(razorpayOrderData.amount,razorpayOrderData.id);
response=result.data




  var options = {
    "key": "rzp_test_DjtMb1YzbFX1sf", // Enter the Key ID generated from the Dashboard
    "amount": razorpayOrderData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": razorpayOrderData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
        
        varifypayments(response)

    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);
rzp1.open()
}else if({pyament:false}){
location.href = '/error'
}
}

async function varifypayments(razorpayOrderData){
  const varifypayments = await axios({
    method:"post",
    url:'/verifypayment',
    data:{
      razorpayOrderData,
      userorderdata,
    }
  })
  alert("hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh")
  console.log(varifypayments.data.status);
  if(varifypayments.data.status){
    window.location.href = '/order-success'
  }else{
    res.send('not validate')
  }
}


 function noaddress(){
  Swal.fire(
  'no address yet?',
  'please add any address first',
  'question'
)
 }
  </script>

<%- include('partials/userfooter.ejs') %>