<%- include('partials/userheader')  -%>
<style>

body {
  padding: 2rem 0rem;
}

.like {
  font-size: 1.5rem;
}
</style>
<% if (orders.length!==0) { %>
<div class="container">
    <div class="row justify-content-center">

        <% for( let i = 0; i < orders.length; i++ ) { %>
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
            <div class="card mb-5" style="width: 18rem;"><br><br><br><br><br>
              <!-- <img class="card-img" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png" alt="Vans"> -->
              <div class="card-body" style="width: 18rem;">
                <h4 class="card-title"><h6> Order id : <%- orders[i]._id -%></h4><br>
                  <h6 class="card-subtitle mb-2 text-muted">Order Status : <%- orders[i].paymentstatus -%></h6><br>
                  <h6 class="card-subtitle mb-2 text-muted">Order Date : <%- orders[i].orderdate.toLocaleDateString() -%></h6><br>
                  <p class="card-text"> </p>
                  
                  <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price text-success"><h5 class="mt-4"><%- orders[i].ordertotal -%> INR</h5></div>
                    
                    <div class="card-img-overlay d-flex justify-content-end" style="width: 18rem;">
                      <a href="/order-detail/<%- orders[i]._id -%>" class="btn btn-warning mt-3" style="cursor: pointer; height: 40px; margin-top: 0px;"><i></i>  show more</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <% } %>
    </div>
  </div>
  <% }else{%> 
    <div>
        no orfers
    </div>
    <% } %> 
<br><br>





<div style=" width: 100%; color: rgb(33, 205, 108); align-items: center;">
 <div>
     <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
         <div class="continue__btn">
             <a href="/shopnow">Continue Shopping</a>
          </div>
      </div>
     
 </div>
</div>    <br><br>





<!-- Modal -->

  <!-- Modal -->
  <% if (user_profile) { %>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">PROFILE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        <div class="modal-body">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"><%- user_profile.fullname %></h5>
            <p class="text-muted mb-1">E MAIL : <%- user_profile.email %></p>
            <p class="text-muted mb-4">MOBILE : <%- user_profile.mobilenumber %> </p>
            <div class="d-flex justify-content-center mb-2">
                <a href="/profile"><button type="button" class="btn btn-success">View Profile</button></a> 
                <a href="/order-success" class="mx-5"><button type="button" class="btn btn-success">your orders</button></a>
                 
            </div>
        </div>
        <div class="modal-footer">
            <a href="/logout"><button type="button" class="btn btn-danger">Log Out</button></a>
        </div>
    </div>
</div>
</div>

<% }else{%>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">YOU ARE NOT LOGED IN NOW</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h4 class="text-danger" style="text-align: center;"> Please Login</h4><br>
        <a href="/login" style="text-align: center;"><button type="button" class="btn btn-success">Log In</button></a>
    </div>
</div>
</div>

  <%}%>  
    </div>


<%- include('partials/userfooter')  -%>