<%- include ('partials/userheader') -%>
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <% for( let i = 0; i < banner.length; i++ ) { %>
        <div class="hero__items set-bg" data-setbg="/admin/uploads/<%= banner[i].image[0].filename %>" style="background-image:url('/admin/uploads/<%= banner[i].image[0].filename %>') ;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        
                            <div class="hero__text">
                                <h6><%= banner[i].subHeading %> </h6>
                                <h2 class="text-light"><%= banner[i].mainHeading %></h2>
                                <p class="text-light">
                                    <%= banner[i].description %>
                                </p>
                                <a href="<%= banner[i].url %>" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        
    </div>
</section><br><br><br>

<!-- Hero Section End -->

<!-- Banner Section Begin -->
<!-- <section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="/user/img/banner/banner-1.jpg" alt="" />
                    </div>
                    <div class="banner__item__text">
                        <h2>Clothing Collections 2030</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="/user/img/banner/banner-2.jpg" alt="" />
                    </div>
                    <div class="banner__item__text">
                        <h2>Accessories</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="/user/img/banner/banner-3.jpg" alt="" />
                    </div>
                    <div class="banner__item__text">
                        <h2>Shoes Spring 2030</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">ALL</li>
                    <li data-filter=".new-arrivals">PRODUCT OVERVIEW</li>
                    <li data-filter=".hot-sales">CATEGORY OVERVIEW</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            <% for(let i=0;i<productlist.length;i++) {%> 
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item">
                    <div class="product__item__pic set-bg" >
                        <a href="/productdetail/<%- productlist[i]._id -%> "> <img src="\admin\uploads\<%- productlist[i].image[0].filename -%>" alt=""></a> 
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <!-- <li>
                                <a href="#"><img src="/user/img/icon/heart.png" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="/user/img/icon/compare.png" alt="" /> <span>Compare</span></a>
                            </li>
                            <li>
                                <a href="#"><img src="/user/img/icon/search.png" alt="" /></a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><%- productlist[i].brand %></h6>
                        <% if (user_profile) { %>
                         
                            <a class="add-cart"  onclick="addToCart('<%- productlist[i]._id -%>')">+ Add To Cart</a>
                            <% }else{ %>
                            <a class="add-cart" href="/login">+ Add To Cart</a>
                            <% } %> 
                        
                        <h5><%- productlist[i].price %></h5>
                        <div class="product__color__select">

                        </div>
                    </div>
                </div>
            </div>
            <% } %> 


           

                <% allcategory.forEach(element => { %>                                            
                    
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" >
                                <a href="/shopnow?cat=<%-element._id%>"> <img src="\admin\uploads\<%- element.image[0].filename -%>" alt=""></a> 
                                
                            </div>
                            <h6><%- element.categoryname %></h6>
                            <div class="product__item__text">
                            </div>
                        </div>
                    </div>
                    <% }) %>
            
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<% if (productlist.length !== 0 && productlist !== 0) { %>
 
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>
                           POPULAR<br />
                            <span><%= productlist[4].title %></span> <br />
                            OF THE Week
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="\admin\uploads\<%- productlist[4].image[0].filename -%>" alt="" />
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5><%= productlist[4].price %> INR</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2><%= productlist[4].description %></h2>
                        <!-- <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div> -->
                        <a href="/productdetail/<%- productlist[4]._id -%>" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% }else{ %>
    <div>
        
    </div>
    <% } %> 
<!-- Categories Section End -->

<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="/user/img/instagram/instagram-1.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/user/img/instagram/instagram-2.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/user/img/instagram/instagram-3.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/user/img/instagram/instagram-4.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/user/img/instagram/instagram-5.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/user/img/instagram/instagram-6.jpg"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <p>
                       <h4> Keep touch with us </h4><br>
                        <h6>always available </h6>
                        <p>@yuva_fasions-&nbsp;yuvafasions350@gmail.com</p>
                    </p>
                    <h3>#Male_Fashion</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Latest News</span>
                    <h2>Fashion New Trends</h2>
                    <p><b>Check it now</b></p>
                    <a href="https://www.vogue.com/fashion"> <h4>VOGUE</h4> </a>

                    <a href="https://www.feedspot.com/?_src=inf_v1"> <h4>FEEDSPOT</h4></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="/user/img/icon/calendar.png" alt="" /> 16 February 2020</span>
                        <h5>What Curling Irons Are The Best Ones</h5>
                        <a >Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="/user/img/icon/calendar.png" alt="" /> 21 February 2020</span>
                        <h5>Eternity Bands Do Last Forever</h5>
                        <a >Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="/user/img/icon/calendar.png" alt="" /> 28 February 2020</span>
                        <h5>The Health Benefits Of Sunglasses</h5>
                        <a >Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- profile Modal -->

<!-- Modal -->

   
<!-- Modal -->
<% if (user_profile) { %>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">PROFILE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        <div class="modal-body">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"><%- user_profile.fullname %></h5>
            <p class="text-muted mb-1">E MAIL : <%- user_profile.email %></p>
            <p class="text-muted mb-4">MOBILE : <%- user_profile.mobilenumber %> </p>
            <div class="d-flex justify-content-center mb-2">
                <a href="/profile"><button type="button" class="btn btn-success">View Profile</button></a> 
                <a href="/order-success" class="mx-5"><button type="button" class="btn btn-success">your orders</button></a>
                 
            </div>
        </div>
        <div class="modal-footer">
            <a href="/logout"><button type="button" class="btn btn-danger">Log Out</button></a>
        </div>
    </div>
</div>
</div>

<% }else{%>
    
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">YOU ARE NOT LOGED IN NOW</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h4 class="text-danger" style="text-align: center;"> Please Login</h4><br>
        <a href="/login" style="text-align: center;"><button type="button" class="btn btn-success">Log In</button></a>
    </div>
</div>
</div>

  <%}%>  

<!-- profile modlal ends -->

</section>
<script>
    async function addToCart(id){
       
       let cart = await axios.post(`/cart/${id}`)
        console.log(cart)
        if(cart.status){
            alert("success")          
        }else{
            alert("not")
        }
    }
</script>
<!-- Latest Blog Section End -->

<!-- Footer Section Begin -->
<%- include ('partials/userfooter.ejs') %>
